<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css", href="/css/login-signup.css">
        <title>SignUpPage</title>
    </head>
    <body>
        <div class="center">
            <h2>SignUp</h2>
            <form action="/createAccount" method="post">
                <div class="txt_field">
                    <input type="email" name="email" placeholder="Email">
                </div>
                
                <div class="txt_field">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="txt_field">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="txt_field">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password">
                </div>
                <div class="select-tag">
                    <label for="choose_function">Roles</label>
                    <select name="roles" class="minimal">
                        <option value="">Choose Type Option</option>
                        <option value="Student">Student</option>
                        <option value="Teacher">Teacher</option>
                    </select>
                </div>     
                <div class="select-tag">
                    <label for="choose_function">Department</label>
                    <select name="department" class="minimal">
                        <option value="">Choose Type Option</option>
                        <option value="CPE">CPE</option>
                        <option value="DDT">DDT</option>
                    </select>
                </div>
                <% if(msg){%>
                    <p class="alert-valid">*<%= msg %></p>
                <% } %>
                <button type="submit">SignUp</button>
            </form>
        </div>
    </body>
</html>