@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 1.7rem;
	font-family: 'Merriweather Sans', sans-serif;
	padding: 4rem;
}

h2{
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.all-user{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.profile{
    width: 240px;
    height: 315px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1.2rem;
    overflow: hidden;
    margin: 2rem;
    padding: 2rem;
    float: left;
    position: relative;
    flex-direction: column;
}
  

.profile .profile-email{
	font-size: 18px;
    color: #055256;
    text-align: center;
}

.profile p{
    font-size: 14px;
    color: black;
    text-align: center;
}

.profile .imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

img {
	height: 100px;
	margin: 1rem;
}

.profile-tag{
    display: none;
}
